@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .button-text{
        @apply border px-[22px] py-2 rounded text-[13px] 
    }
    .rounded-picture{
        @apply rounded-se-[5rem] rounded-bl-[5rem] rounded w-[90%]
    }
    .flex-list{
        @apply flex items-center gap-3
    }
    .normal-text{
        @apply text-[#1E1E1E] font-[550] text-[15px]
    }
}

.section{
    transition: transform 1s, opacity 1s
}

/* .nav.sticky {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
  } */

.section-hidden{
    opacity: 0;
    transform: translateY(8rem);
}

.sonsie-one-regular {
    font-family: "Sonsie One", system-ui;
    font-weight: 500;
    font-style: normal;
  }

  *::selection{
    color: black;
    background-color: #FFA030;
}

  .sora-all {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

